@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700&display=swap');
/* remember: mobile first! */

:root {
    --rating_state-display: none;
    --thankyou_state-display: none;
}

* {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey:  hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
    --fontsize: 15px;

    font-family: Overpass, sans-serif;
}

.attribution {
    display: none;
}

body {
    color: white;
    height: 100%;
    background-color: rgb(21,21,25);
}

main {
    height: 100vh;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    top: 25%;
    /* border: solid white; */
    margin: auto;
    height: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rating_state.active {
    --rating_state-display: block;
    --thankyou_state-display: none;
}

.thankyou_state.active {
    --rating_state-display: none;
    --thankyou_state-display: block;
}

.rating_state {
    display: var(--rating_state-display);
    border-radius: 16px;
    padding: 25px;
    background-image: 
    linear-gradient(rgb(33,40,50), rgb(24,30,40));
}

.thankyou_state {
    display: var(--thankyou_state-display);
    border-radius: 16px;
    padding: 25px;
    background-image: 
    linear-gradient(rgb(33,40,50), rgb(24,30,40));
}

.illustration {
    height: 108px;
    /* padding: 0px 100px 0px 100px; W D S A */
    width: 270px;
    flex-wrap: wrap;
    text-align: center;
}

.comment {
    font-weight: 200;
    font-size: 14px;
    color: var(--mediumgrey);
    margin-bottom: 25px;
    text-align: center;
}

.thankyou {
    text-align: center;
}

.result {
    /* color: var(--orange); */
    text-align: center;
    /* border-radius: 50px; */
    /* padding: 8px; */
    width: auto;
    /* margin: auto; */
    margin-bottom: 25px;
    /* background-color: rgb(43,53,64); */
    /* margin-bottom: 25px; */
    /* margin-top: 5px; */
    /* font-weight: 300; */
    /* font-size: 15px; */
}

.txt-result {
    margin-top: 1px;
    /* display: inline-block; */
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(43,53,64);
    margin-bottom: 25px;
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
    color: var(--orange);
    width: fit-content;
    margin: auto;
    text-align: center;
}
.inside {
    margin-top: 3px;
}

.star {
    position: relative;
    z-index: 2;
    height: 50px;
}

h1 { /*the question*/
    font-size: 24px;
    font-weight: 400;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
} 

.please {
    font-weight: 200;
    font-size: 14px;
    color: var(--mediumgrey);
    margin-bottom: 10px;
}

.numbers {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    /* cursor: pointer; */
}

.n {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* padding: 9px; */

    background-color: rgb(43,53,64);
    color: #888;
    /* text-align: center; */
    font: 13px Overpass, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .15s;
}

/* .n:hover {
    background-color: var(--orange);
    color: white;
    font-size: 16px;
} */

.x {
    margin-top: 4px;
}

.btn-submit {
    background-color: var(--orange);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 200px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.15s;
}

.btn-submit:hover {
    background-color: var(--mediumgrey);
}

.txt-submit {
    margin-top: 1px;
    width: auto;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 12.5px;
    height: 15px;
}

input {
    opacity: 0;
}

input:checked + div{
    outline: 2px auto rgb(229, 151, 0);
    outline-offset: -2px;
 }